body {
    background-color: lightslategray;
}

button {
    width: 100px;
    height: 30px;
    background-color: antiquewhite;
    border: 2px solid darkgoldenrod;
    border-bottom: antiquewhite;
    outline: 0;
    border-radius: 8px 8px 0 0;
    position: relative;
    cursor: pointer;
}

#tab1 {
    z-index: 1000;
}

div {
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    border: 2px solid darkgoldenrod;
    border-radius: 0 8px 8px 8px;
    position: absolute;
    top: 36px;
    padding: 20px;
}

#tab1Content {
    z-index: 50;
}